{% extends "base.html" %}
{% block content %}
{% load static %}
{% include "_modal.html" %}
{% include "_addnew.html" %}
  <div class="col-12 mb-3">
    {% if vehicles %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-center" scope="col">#</th>
            <th class="text-center" scope="col">Make</th>
            <th class="text-center" scope="col">Model</th>
            <th class="text-center" scope="col">Plate Number</th>
            <th class="text-center" scope="col">Color</th>
            <th class="text-center" scope="col">K/M</th>
            <th class="text-center" scope="col">Customer</th>
            <th class="text-center" scope="col">  Update | Remove  </th>
          </tr>
        </thead>
        <tbody>
          {% for vehicle in vehicles %}
            <tr>
              <th class="text-center" scope="row">{{ forloop.counter }}</th>
              <td class="text-center">{{ vehicle.make }}</td>
              <td class="text-center">{{ vehicle.model }}</td>
              <td class="text-center">{{ vehicle.plate_num }}</td>
              <td class="text-center">{{ vehicle.color}}</td>
              <td class="text-center">{{ vehicle.mileage}}</td>
              <td class="text-center">{{ vehicle.customer}}</td>
              <td class="text-center">
                <button type="button" class="update-vehicle btn btn-sm btn-primary" data-id="{% url 'update_vehicle' vehicle.pk %}">
                <span class="fa fa-pencil"></span>
                </button>
                <button type="button" class="delete-vehicle btn btn-sm btn-danger" data-id="{% url 'delete_vehicle' vehicle.pk %}">
                <span class="fa fa-trash"></span>
                </button>
                
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="no-vehicles text-primary">No vehicle added yet.</p>
    {% endif %}
  </div>
</div>
{% endblock content %}
{% block extrascripts %}
<script type="text/javascript">
$(function () {
$(".update-vehicle").each(function () {
$(this).modalForm({formURL: $(this).data('id')});
});
$(".delete-vehicle").each(function () {
$(this).modalForm({formURL: $(this).data('id')});
})


});
</script>
{% endblock extrascripts %}