{% extends "base.html" %}
{% block content %}
  {% load static %}
   {% include "_modal.html" %}
  <div class="col-12 mb-3">
    <button class="create-btn btn btn-primary" type="button" name="button">New Customer</button>
    <button class="purchase-btn btn btn-primary" type="button" name="button">New purchase</button>
    <button class="vehicle-btn btn btn-primary" type="button" name="button">New Vehicle</button>
  </div>
  <h1>Purchases List</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope = "col"> ID </th>
        <th scope = "col"> customer Name </th>s
        <th scope = "col"> customer Phone </th>
        <th scope = "col">customer discount </th>
        <th scope = "col"> customer bookings </th>
        <th scope = "col"> email</th>
        <th scope = "col"> car </th>
      </thead>
      <script type="text/javascript" src="{% static "js/editsQuery.js" %}"> </script>
      {% for vehicle in vehicles %}
        
        <tbody>
          <tr>
            
            <tr>
              <th scope "row"> {{vehicle.customer.id}}</th>
              <td> <a  href="/customer/{{vehicle.customer.id}}/edit" id="edit_cus" onclick="return showAddPopup(this, {{vehicle.customer.id}})"> {{vehicle.customer.full_name}}</a></td>
              <td> {{vehicle.customer.phone_num}} </td>
              <td> {{vehicle.customer.customer_discount}} </td>
              <td> {{vehicle.customer.email}}</td>
              <td> {{vehicle.model}}- {{vehicle.color}} - {{vehicle.plate_num}}</td>
              
              <td>
                <center><a class="button" href="/customer/{{vehicle.id}}/profile">Profile</a></center>
              </td>
            </tr>
          </tbody>
          
        {% endfor %}
      </table>
    {% endblock content %}
    {% block extrascripts %}
      <script type="text/javascript">
      $(function () {
      // Log in & Sign up buttons
      $(".create-btn").modalForm({formURL: "{% url 'customer_create' %}"});
      $(".purchase-btn").modalForm({formURL: "{% url 'purchase_create' %}"});
      $(".vehicle-btn").modalForm({formURL: "{% url 'vehicle_create' %}"});
      // Hide message
      $(".alert").fadeTo(2000, 500).slideUp(500, function(){
      $(".alert").slideUp(500);
      });
      });
      </script>
    {% endblock extrascripts %}