{% extends "base.html" %}
{% block content %}
  {% load static %}
  {% include "_modal.html" %}
  {% include "_addnew.html" %}


  <div class="col-12 mb-3">
    {% if purchases %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-center" scope="col">#</th>
            <th class="text-center" scope="col">Vehicle</th>
            <th class="text-center" scope="col">Customer Name</th>
            <th class="text-center" scope="col">Customer Phone #</th>
            <th class="text-center" scope="col">Package</th>
            <th class="text-center" scope="col">Date of Purchase</th>
            <th class="text-center" scope="col"> Date Booked</th>
            <th class="text-center" scope="col">Payments</th>
            <th class="text-center" scope="col">Remaining Payment</th>
            <th class="text-center" scope="col"> View| Update | Remove  </th>
          </tr>
        </thead>
        <tbody>
          {% for purchase in purchases %}
            <tr>
              <th class="text-center" scope="row">{{ forloop.counter }}</th>
              <td class="text-center">{{ purchase.vehicle }} - {{ purchase.vehicle.color }}</td>
              <td class="text-center">{{ purchase.vehicle.customer}}</td>
              <td class="text-center">{{ purchase.vehicle.customer.phone_number}}</td>
              <td class="text-center">{{ purchase.package }}</td>
              <td class="text-center">{{ purchase.date }}</td>
              <td class="text-center">{{ purchase.bookings}}</td>
              <td class="text-center">{{ purchase.payments}}</td>
              <td class="text-center">{{ purchase.payable}}</td>
              <td class="text-center">
                <button type="button" class="read-purchase btn btn-sm btn-primary" onclick="window.location.href='{% url 'customer_profile' purchase.pk %}';">
                <span class="fa fa-eye"></span>
                </button>
                <button type="button" class="update-vehicle btn btn-sm btn-primary" data-id="{% url 'update_purchase' purchase.pk %}">
                <span class="fa fa-pencil"></span>
                </button>
                <button type="button" class="delete-vehicle btn btn-sm btn-danger" data-id="{% url 'delete_purchase' purchase.pk %}">
                <span class="fa fa-trash"></span>
                </button>
                
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="no-purchases text-primary">No Purchases added yet.</p>
    {% endif %}
  </div>
</div>
{% endblock content %}
{% block extrascripts %}
<script type="text/javascript">
$(function () {

$(".update-vehicle").each(function () {
$(this).modalForm({formURL: $(this).data('id')});
});
$(".delete-vehicle").each(function () {
$(this).modalForm({formURL: $(this).data('id')});
})
$(".alert").fadeTo(2000, 500).slideUp(500, function(){
$(".alert").slideUp(500);
});
});
</script>
{% endblock extrascripts %}